.archives-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding-top: 3vh;
  box-sizing: border-box;
  background-color: aliceblue;

  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 84vh;

  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

  border-radius: 15px;
}
